<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Generator Web</title>
    <link rel="stylesheet" href="~/css/Login.css" /> <!-- ton CSS -->
</head>
<body>
    <div class="container">

        <main>
            @RenderBody()
        </main>

        
    </div>
</body>
</html>
